<div class="alert alert-info font-weight-bold" role="alert">
    <fa-icon [icon]="faInfoCircle"></fa-icon>
    Please select your template to proceed. All templates are free.
</div>
<div class="blitz-card-container">
    <mat-card *ngFor="let template of templatesList; let i=index" class="blitz-card mb-4">
        <mat-card-header class="justify-content-center">
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>
                <a *ngIf="template.available" mat-raised-button color="primary" class="blitz-card-title-font"
                    target="_blank" (click)="onTemplateSelection(template)">{{template.name | uppercase}}</a>
                <a *ngIf="!template.available" mat-raised-button color="primary"
                    class="blitz-card-title-font text-center">Coming Soon!</a>
            </mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img *ngIf="template.available" class="p-2" mat-card-image src="/assets/images/gokuThumbnail.PNG"
            alt="Loading...">
        <img *ngIf="!template.available" class="p-2" mat-card-image src="/assets/images/under-construction.jpg"
            alt="Loading...">

        <mat-card-content>
            <p>
                This is a simple template to create your resume from
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center m-0">
            <ng-container *ngIf="template.available">
                <button mat-stroked-button color="primary" (click)="onTemplateSelection(template)">Proceed</button>
                <button mat-stroked-button color="warn" (click)="onViewSample(template)">View Sample</button>
            </ng-container>
            <ng-container *ngIf="!template.available">
                <button mat-stroked-button color="primary" (click)="onTemplateSelection(template)"
                    disabled>Proceed</button>
                <button mat-stroked-button color="warn" (click)="onViewSample(template)" disabled>View Sample</button>
            </ng-container>
        </mat-card-actions>
    </mat-card>
</div>