#printWindow {
    background-color: white;
    padding: 2% 5% 5% 5%;
    text-align: justify;
}

.goku-font-heading {
    font-family: 'Open Sans', sans-serif;
    color: maroon;
    font-weight: 900;
    text-align: center;
    margin: 5px;
}

.goku-personal-info {
    font-weight: 600;
    margin-bottom: 20px;
}

.goku-sub-heading {
    font-family: 'Open Sans', sans-serif;
    color: maroon;
    font-weight: 900;
    margin-bottom: 5px;
    text-transform: uppercase;
}

hr {
    border: 6px solid maroon;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

#printWindow p {
    font-weight: 500;
}

#printWindow .orderedOptions ul {
    flex-wrap: wrap;
}

#printWindow .orderedOptions li {
    flex-basis: 25%;
    font-weight: 500;
}

#printWindow .orderedList ul {
    flex-wrap: wrap;
}

#printWindow .orderedList li {
    flex-basis: 100%;
    font-weight: 500;
    margin-bottom: 1rem;
}

#printWindow h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
}

.italicsStyle {
    font-style: italic;
}

@media print {
    .printButtons {
        display: none;
    }
}