p {
    margin-bottom: 0;
    flex-basis: 50%;
}

mat-form-field {
    width: 80%;
}

::ng-deep .endDate .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin-bottom: 0;
    padding-bottom: 0.25rem;
}

::ng-deep .endDate .mat-form-field-appearance-outline {
    margin-bottom: 0;
}

.flex-basis_p {
    flex-basis: 100%;
    margin-bottom: 1rem;
}

.personalContainer {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 520px) {
    .personalContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        margin-bottom: 0;
        width: 100%;
    }

    mat-form-field {
        width: 100%;
    }
}