p {
    margin-bottom: 0;
    flex-basis: 50%;
}

mat-form-field {
    width: 80%;
}

::ng-deep .endDate .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin-bottom: 0;
    padding-bottom: 0.25rem;
}

::ng-deep .endDate .mat-form-field-appearance-outline {
    margin-bottom: 0;
}