<div class="mainContainer">
    <div id="printHide">
        <div class="headingSection text-center">
            <div class="iconsContainer">
                <fa-icon class="homeIcon" [icon]="faArrowLeft" (click)="navigateBack()"></fa-icon>
                <fa-icon class="homeIcon" [icon]="faHome" (click)="navigateToHome()"></fa-icon>
            </div>
            <h1 class="font-heading mat-display-4 mb-4 mt-3">Blitz Résumé Builder</h1>
        </div>

        <div *ngIf="homeService.showAlerts" class="alert alert-info font-weight-bold text-center" role="alert">
            <fa-icon [icon]="faInfoCircle"></fa-icon> All buttons and icons will disappear on print, to adjust
            sections use the down and up buttons
            so that print page spacing between sections can be handled as desired. <br>
            To save your résumé as pdf use the print icon or press ctrl+p (browser shortcut for printing the page) and
            save as pdf.
        </div>
    </div>
    <router-outlet></router-outlet>
</div>